
<ion-header>
  <ion-toolbar >
    <ion-title>Conectate a ala alcancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button  size="large" color="primary" expand='block' (click)="listPairedDevices()">
    Refrescar Dispositivos
  </ion-button >

  <ion-col>
    <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
      <ion-item *ngFor="let i of pairedList;let j=index">
        <ion-label>{{i.name}}</ion-label>
        <ion-radio value="{{j}}"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-col>

  <ion-button  size="large" color="primary" expand='block' *ngIf="listToggle" (click)="selectDevice()">
    <ion-icon name="bluetooth" ></ion-icon>&nbsp;Conectar Dispositivo
  </ion-button >
</ion-content>





