
<ion-content >
  <div id="background">
  <div class="coins"><ul><li class="postop"><img src="../../../assets/coin.png" width="90" height="90"></li><li><h1>{{monedas}}</h1></li></ul></div>
  <img  src="../../../assets/Fox1.gif" alt="" width="200" height="300" id="pet">
  <div (click)="AbrirEstadisticas()"><img src="../../../assets/statistics.png" width="100" height="100" id="analytics"></div>
  <div (click)="AbrirPetShop()" ><img src="../../../assets/shop.ico"  alt="" width="100" height="100" id="shop"></div>
</div>
</ion-content>
