<ion-content class="bk">
    <div id="background">
        <div class="ion-margin container centrado">
            <table>
                <tr>
                    <td> <img src="../../assets/cerdito.png"></td>
                    <h1> Pet World</h1>
                </tr>
            </table>
        </div>
        <ion-button size="large" color="primary" expand='block' id="Centered" class='centradoBoton ion-margin-vetical ion-margin-horinzontal' routerLink='/bluethoot' routerDirection='forward'>Iniciar</ion-button>
    </div>
</ion-content>